body {
    background-color: black;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevent horizontal scrolling */
}

body::before {
    content: "";
    background-image: url("background4.png");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(10px);
}

.app {
    width: 25vh;
    border-radius: 50px;
    text-align: center;
    margin: auto;
}

.download, .more {
    width: 30vh;
    height: 10vh;
    border-radius: 200px;
    text-align: center;
    margin: 20px auto;
    padding: 1px;
    font-size: 1.8vh;
}

.download {
    color: white;
    background-image: url("./imgs/download.jpg");
    font-weight: bolder;
}

.more {
    color: white;
    background-image: url("./imgs/more.jpg");
    font-weight: bold;
    color: black;
}

.download:hover {
    background-image: url("./imgs/download_hover.jpg");
    cursor: pointer;
}

.more:hover {
    background-image: url("./imgs/more_hover.jpg");
    cursor: pointer;
}

.container {
    position: relative;
    z-index: 1; /* Ensure container is above container2 */
    width: 80%; /* Adjust width as needed */
    max-width: 80vh; /* Limit maximum width for larger screens */
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}


@font-face {
    font-family: myFirstFont;
    src: url("./font/Jost-700-Bold.ttf");
}

div {
    font-family: myFirstFont;
}

@media screen and (min-width: 800px) {
    .container{
        background-color: rgba(255, 255, 255, 0.7); /* Adjust opacity as needed */

    }
}

@media screen and (max-width: 800px) {
    .container{
        width: 100%; /* Adjust width as needed */
        max-width: 80vh; /* Limit maximum width for larger screens */
    }
    .app{
        width: 20vh;
    }

    .download, .more {
        width: 25vh;
        height: 10vh;
        border-radius: 100px;
        font-size: 1.8vh;
    }
    .container2{
        width: 50%; /* Set the width of the container */
        text-align: center; /* Center the content inside the container */
        padding: 20px; /* Just for demonstration */
    }

    .container2 {
        position: absolute;
        background-color: whitesmoke;
        width: 70vh;
        height: 60vh;
        filter: opacity(30%);
        border-radius: 20px;
        z-index: 0; /* Set a lower value to be behind .container */
    }

}